@import url(https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    min-height: 72px;
    background-color: #1890ff;
    padding: 16px 20px;
    color: white;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 700;
    max-height: 90px;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
}

li {
    display: flex;
}

.material-icons-round {
    font-size: 20px !important;
}

.buttons {
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border-width: 0;
    font-weight: bold;
    padding: 10px 0px 10px 15px;
    color: rgb(13, 46, 89);
    text-align: center;
    height: 44px;
}

.buttons span {
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
}

.buttons span:after {
    content: '\00bb';
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.buttons:hover span {
    padding-right: 20px;
}

.buttons:hover span:after {
    opacity: 1;
    right: 0;
}

.signInButton {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 15px;
}

.banner {
    display: flex;
    height: 80vh;
}

.bannerBackground {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -100;
}

h2 {
    color: white;
    font-weight: normal;
    font-size: 36px;
    text-shadow: 2px 2px 8px #000000;
    font-weight: 500;
}

.bannerMiddle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ticketWidget {
    display: flex;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    width: 70%;
    min-height: 100px;
    flex-direction: column;
    gap: 15px;
}

.infoRow {
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 70px;
    border: solid 1px rgb(215, 233, 255);
    gap: 0;

}

.info {
    border: solid 1px rgb(215, 233, 255);
    width: 25%;
}

#startPoint {
    border-radius: 8px 0 0 8px;
}

#endDate {
    border-radius: 0 8px 8px 0;
}

.searchButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

#searchButton {
    width: 100%;
    background-color: rgb(255, 211, 51);
    color: black;
    font-size: 18px;
    justify-content: center;
}

.end {
    position: relative;
}

.background {
    position: absolute;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.endItems {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.items {
    display: flex;
    justify-content: center;
    z-index: 100;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.itemImg {
    width: 24px;
    height: 24px;
    display: flex;
}

.title {
    color: white;
    font-weight: 500;
}

.selectStartPoint {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.selectEndPoint {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.inputPointContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titlePoint {
    font-size: 12px;
    font-weight: 400;
    color: rgb(168, 168, 168);
}

.inputPoint {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    padding: 0;
}

.inputPoint:focus {
    outline: none;
}

.switchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: rgb(232, 232, 232);
    transition: background-color 0.5s ease;
    top: 25%;
    left: 93.5%;
}

.switchButton:hover {
    background-color: rgb(220, 220, 220);
}

.switchIcon {
    display: flex;
    justify-content: center;
    align-self: center;
    transform: rotate(90deg);
    cursor: pointer;
}

.material-icons-outlined {
    font-size: 20px !important;
}

.buttonEnddateShow {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(36, 116, 229);
    transition: background-color 0.5s ease;
}

.buttonEnddateShow:hover {
    background-color: rgb(240, 240, 252);
}

.buttonEnddateHidden {
    z-index: 5;
    position: absolute;
    margin-left: 15%;
    margin-bottom: 2%;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    transition: background-color 0.5s ease;
}

.buttonEnddateHidden:hover {
    background-color: rgb(232, 232, 232);
}

input[type="date"] {
    width: 200px !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 500;
    /* More styles here */
}

select{
    appearance: none;
}

/* Switch User Info - by TAnk */

.switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 44px;
  }
  
.sliderInput { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(232, 232, 232);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    background-image: url('https://lh3.googleusercontent.com/-jbWkpbQmmFE/Ye7I-x9iZcI/AAAAAAAAAyk/96V_aAkhvAgLBAf9eSG6yASfutCML1hrACNcBGAsYHQ/s0/jack3.png');
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 36px 36px;
  }
  
.sliderInput:checked + .slider {
    background-color: #1890ff;
  }
  
.sliderInput:focus + .slider {
    box-shadow: 0 0 1px #1890ff;
  }
  
.sliderInput:checked + .slider:before {
    -webkit-transform: translateX(105px);
    -ms-transform: translateX(105px);
    transform: translateX(105px);
}

.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
}

.sliderName{
    position: relative;
    margin-left: 48px;
    font-size: 18px;
    color: rgb(13, 46, 89);
    font-weight: 500;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sliderInput:checked + .slider .sliderName {
    opacity: 0;
}

.adminSlider:before{
    background-image: url('https://afamilycdn.com/150157425591193600/2022/2/17/16450720256641739894468-1645080500200-16450805005662136201462.jpg');
}

/* Tới đây thui */
  
.dropdownMenu{
    position: absolute;
    top: 85px;
    right: 12px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.dropdownMenu::before{
    position: absolute;
    content: "";
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background-color: white;
    transform: rotate(45deg);
}

.dropdownMenu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: .4s ease;
}

.dropdownMenu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: .4s ease;
}

.userInfoContainer{
    display: flex;
    justify-content: space-between;
    color: rgb(13, 46, 89);
    width: 100%;
    font-weight: 500;
}