body{
    margin: 0;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

}

.navbar{
    display: flex;
    align-items: center;
    min-height: 72px;
    background-color: #1890ff;
    padding: 16px 20px;
    color: white;
    justify-content: space-between;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 700;

}

.header-right{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
}

li{
    display: flex;
}

.material-icons-round{
    font-size: 20px !important;
}

.buttons{
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border-width: 0;
    font-weight: bold;
    padding: 10px 0px 10px 15px;
    color: rgb(13, 46, 89);
    text-align: center;
}

.buttons span {
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
  }
  
.buttons span:after {
    content: '\00bb';
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.buttons:hover span {
    padding-right: 20px;
}
  
.buttons:hover span:after {
    opacity: 1;
    right: 0;
}

.sign-in-button{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 15px;
}

.banner{
    display: flex;
    height: 80vh;
}

img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -100;
}

h2{
    color: white;
    font-weight: normal;
    font-size: 36px;
    text-shadow: 2px 2px 8px #000000;
    font-weight: 500;
}

.banner-middle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ticket-widget{
    display: flex;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    width: 70%;
    min-height: 100px;
    flex-direction: column;
    gap: 15px;
}

.info-row{
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 70px;
    border: solid 1px rgb(175, 210, 255);
    gap: 0;

}

.info{
    border: solid 1px rgb(175, 210, 255);
    width: 25%;
}

#start-point{
    border-radius: 8px 0 0 8px;
}

#end-date{
    border-radius: 0 8px 8px 0;
}

.search-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

#search-button{
    width: 100%;
    background-color: rgb(255, 211, 51);
    color: black;
    font-size: 18px;
    justify-content: center;
}
